.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1rem;
}
.container {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("/images/hero_bg.png");
	color: white;
	padding-inline: 1rem;

	gap: 3rem;
	overflow: hidden;
}
.container > div {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.container > div p {
	color: rgba(245, 245, 245, 0.6);
	text-align: center;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
	max-width: 800px;
	margin-top: 1.6rem;
}
.backdrop {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #ffffff 0%, #dfdbff 100%);
	z-index: -1;
}

.container img {
	z-index: 1;
	border: 1px solid #ffffff99;
	box-shadow: 0px 4px 24px 0px #0000000f;
	box-shadow: 0px 4px 8px 0px #0000001a;
	box-shadow: 0px 0px 32px 0px #0000000f;
	border-radius: 1rem;
}

.container h1 {
	font-family: Mochiy Pop One;
	font-size: 24px;
	font-weight: 400;
	line-height: 34.75px;
	letter-spacing: -0.02em;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.caption {
	text-align: center;
}
@media (min-width: 768px) {
	.hero {
		margin-bottom: 4rem;
		gap: 2rem;
	}
	.container {
		padding-block: 4rem;
	}
	.container h1 {
		font-size: 60px;
		line-height: 86.88px;
	}

	.container img {
		margin-bottom: -120px;
	}
}
