/* MasonryGrid.module.css */
.masonryGrid {
	display: flex;
	margin-left: -16px; /* Adjust for column spacing */
	width: auto;
}

.masonryGridColumn {
	padding-left: 16px; /* Adjust for column spacing */
	background-clip: padding-box;
}

.gridItem {
	margin-bottom: 16px; /* Spacing between items */
	overflow: hidden;
	border-radius: 8px; /* Optional: Rounded corners */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Box shadow */
}

.gridItem img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: inherit; /* Match item border radius */
}
